<%- include('partials/header.ejs') %>
<div class="pageContent">

<div class="allNote">
            <ul>


 <% allBookNotes.forEach( (note) => { %>
    <div class="fullCard">
            <div class="imageSection">
                <img src=<%=note.book_cover_link%>>
            </div>
            <div class="noteCard">
                <article class="eachNote">

                <!-- <h2> Image Section: <%= note.book_cover_link%></h2>    -->
                <h2 class="title">Title:<%= note.title %></h2>
                <div class="ratinganddate">
                <h2 class="rating">Rating:<%=note.rating%></h2>
                <h2 class="date">Date: yyyy-mm-dd</h2>
                </div>
                <div class="reviewsection">
                <h2 class="reviewtitle">Review:</h2>
                <p class="reviewRecord"><%= note.notes %></p>
                </div>
                </article>
            </div>

    </div>

                <% }); %>



            </ul>
</div>

</div>
        </div>
    </body>
</html>
